<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.iprody.source.code.flow.manager" level="info"/>
    <logger name="org.springframework.web.reactive" level="info"/>
    <logger name="io.r2dbc" level="info"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>